*{
	/*CSS Reset
	resets the premade margins and padding by browser. it is better to manipulate the elements using 0 margins/paddings*/
	margin: 0;
	padding: 0;
/*box-sizing it determines how the dimensions of a box will be computed*/
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

#div1{
	/*margin is the space outside the border of the element
	padding is the space between the content box of the border*/
	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
}

#div2{
	/*margin: 25px 100px;*/
	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
    display: inline-block;
    /*the contents of the element will aligned to the top*/
    vertical-align: top;

}

#span1{
	/*the absence of padding will cause the browser to start measuring the dimensions of the element
	from the top most and left most*/
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}
}